/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background: linear-gradient(to right , rgba(6, 2, 46, 0.75), rgba(12, 13, 41, 0.966));
}

/* Center the login container */
.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #d3defa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.login-container h2{
    color: darkblue;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
/* Style for the logo */
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

/* Style for the form */
#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm label {
    margin-bottom: 5px;
    color: darkblue;
    font-weight: bold;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b0b9fc;
    border-radius: 20px;
}

#loginForm button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

#loginForm button:hover {
    background-color: #16017c;
}